<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Add Item</title>
        <link href="css/common.css" rel="stylesheet">
    </head>
    <body>
        <header class="page-heading">
            <h1>
                Add item
            </h1>
        </header>
        <aside class="sidebar">
            <ul class="navigation">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users">Users</a>
                </li>
                <li>
                    <a href="/goods">Goods</a>
                </li>
                <li>
                    <a href="/orders">Orders</a>
                </li>
            </ul>
        </aside>
        <div class="page-content">
            <div id="item-add">
                <form method="GET" action="/order-show-basket">
                    <label for="good-id">Item:</label>
                    <br>
                    <select id="good-id" name="good-id" size="4" required>
                        <option th:each="good : ${goods}"
                                th:value="${good.id}"
                                th:text="${good.name}">
                        </option>
                    </select>
                    <br>
                    <br>
                    <label for="item-number">Number:</label>
                    <input id="item-number" type="number" min="1" name="item-number" required>
                    <br>
                    <br>
                    <button id="add-item-button" class="btn" type="submit">
                        Add & show basket
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
