<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Show Basket</title>
        <link href="css/common.css" rel="stylesheet">
    </head>
    <body>
        <header class="page-heading">
            <h1>
                Basket
            </h1>
        </header>
        <aside class="sidebar">
            <ul class="navigation">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users">Users</a>
                </li>
                <li>
                    <a href="/goods">Goods</a>
                </li>
                <li>
                    <a href="/orders">Orders</a>
                </li>
            </ul>
        </aside>
        <div class="page-content">
            <div id="show-basket">
                <table>
                    <tr>
                        <th>item</th>
                        <th>number</th>
                    </tr>
                    <th:block th:each="item : ${items}">
                        <tr>
                            <td th:text="${item.name}"></td>
                            <td th:text="${basket.get(item)}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
            <div id="basket-actions">
                <form method="GET" action="/item-add">
                    <button id="add-item-button" class="btn" type="submit">
                        Add new item
                    </button>
                </form>
                <form method="GET" action="/order-checkout">
                    <button id="save-order-button" class="btn" type="submit">
                        Finish & proceed to checkout
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
