<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Add New Order</title>
        <link href="css/common.css" rel="stylesheet">
    </head>
    <body>
        <header class="page-heading">
            <h1>
                Add new order
            </h1>
        </header>
        <aside class="sidebar">
            <ul class="navigation">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users">Users</a>
                </li>
                <li>
                    <a href="/goods">Goods</a>
                </li>
                <li>
                    <a href="/orders">Orders</a>
                </li>
            </ul>
        </aside>
        <div class="page-content">
            <div id="start-selecting-items">
                <form method="GET" action="/item-add">
                    Your basket is now empty. Start selecting items:
                    <button id="start-selecting-items-button" class="btn" type="submit">
                        Go
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
