<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Checkout</title>
        <link href="css/common.css" rel="stylesheet">
    </head>
    <body>
        <header class="page-heading">
            <h1>
                Checkout
            </h1>
        </header>
        <aside class="sidebar">
            <ul class="navigation">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users">Users</a>
                </li>
                <li>
                    <a href="/goods">Goods</a>
                </li>
                <li>
                    <a href="/orders">Orders</a>
                </li>
            </ul>
        </aside>
        <div class="page-content">
            <div id="order-checkout">
                <form method="POST" action="/order-save">
                    <label for="order-user-id">Order for:</label>
                    <br>
                    <select id="order-user-id" name="order-user-id" size="4" required>
                        <option th:each="user : ${users}"
                                th:value="${user.id}"
                                th:text="${user.name}">
                        </option>
                    </select>
                    <br>
                    <br>
                    <label for="order-delivery-address">Where to deliver:</label>
                    <input id="order-delivery-address" type="text" name="order-delivery-address" required>
                    <br>
                    <br>
                    <label for="order-deliver-on">When to deliver:</label>
                    <input id="order-deliver-on" type="date" name="order-deliver-on">
                    <br>
                    <br>
                    <button id="save-order-button" class="btn" type="submit">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
