<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Users</title>
        <link href="css/common.css" rel="stylesheet">
    </head>
    <body>
        <header class="page-heading">
            <h1>
                Users
            </h1>
        </header>
        <aside class="sidebar">
            <ul class="navigation">
                <li>
                    <a id="home-link" href="/">Home</a>
                </li>
                <li>
                    <a id="users-link" href="/users">Users</a>
                </li>
                <li>
                    <a id="goods-link" href="/goods">Goods</a>
                </li>
                <li>
                    <a id="orders-link" href="/orders">Orders</a>
                </li>
            </ul>
        </aside>
        <div class="page-content">
            <form method="GET" action="/user-edit">
                <button id="add-user-button" class="btn" type="submit">
                    Add user
                </button>
            </form>
            <br>
            <div id="users-list">
                <table>
                    <tr>
                        <th>name</th>
                        <th>email</th>
                    </tr>
                    <th:block th:each="user : ${users}">
                        <tr>
                            <td>
                                <a th:href="'/user-info?user-id=' + ${user.id}">
                                    <span th:text="${user.name}"></span>
                                </a>
                            </td>
                            <td th:text="${user.email}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </body>
</html>
