<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Invalid Action</title>
    </head>
    <body>
        <header class="page-heading">
            <h1>
                Invalid Action
            </h1>
        </header>
        <aside class="sidebar">
            <ul class="navigation">
                <li>
                    <a id="home-link" href="/">Home</a>
                </li>
                <li>
                    <a id="users-link" href="/users">Users</a>
                </li>
                <li>
                    <a id="goods-link" href="/goods">Goods</a>
                </li>
                <li>
                    <a id="orders-link" href="/orders">Orders</a>
                </li>
            </ul>
        </aside>
        <div class="page-content">
            <span id="error-message" th:text="${error.message}"> </span>
        </div>
    </body>
</html>
